{% extends 'base.html.twig' %}
{% block title %}Nouveau post{% endblock %}
{% block body %}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card border-0 shadow-sm">
          <div class="card-body p-4">
            <h2 class="mb-4">Créer un post</h2>
            {% include 'Community/_form.html.twig' with {form: form, button_label: 'Publier'} %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
